/* Receteo de tamaño para trabajar con rem */

html {
    font-size: 62.5%;
}
body {
    font-size: 16%;
}

/* End */

h1 { 
    text-align: center;
    font-size: 3.8rem;
}
span {
    font-size: 2rem;
}