:root {
    --blanco: #ffffff;
    --oscuro: #212121;
    --primario: #ffc107;
    --secundario: #0097a7;
    --gris: #757575;
}

/* Parametros de la fuente */

.krub-regular {
    font-family: "Krub", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.krub-bold {
    font-family: "Krub", sans-serif;
    font-weight: 700;
    font-style: normal;
}


/* Receteo de tamaño para trabajar con rem */

html {
    font-size: 62.5%;
}

body {
    font-size: 1.5rem;
    font-family: "Krub", sans-serif;
}

/* End Receteo Tamaño rem */

.titulo {
    text-align: center;
    font-size: 3.8rem;
    font-family: "Krub", sans-serif;
}

.titulo span {
    font-size: 2rem;
}